body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body form {
    width: fit-content;
    margin: auto;
}

div {
    border-radius: 5px;
}

input[type=text],
input[type=date],
input[type=number],
input[type=password],
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button]{
    background-color: rgb(8, 140, 96);
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=button]:hover{
    background-color: #45a049;
}

/* crea la columnas para que floten una despues de la otra */
.column{
    float: left;
    padding: 10px;
}